body {
  padding: 0;
  margin: 0 auto;
  background-image: url('./img/planofundo1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
}

.cabecalho {
  background-color: red;
}

main {
  min-width: 320px;
  max-width: 500px;
}

h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;

}

/* parte do carrossel de imagens */

.carousel-container {
  width: 100%;
  height: 750px;
  overflow: visible;
  position: relative;
}

.carousel {
  display: flex;
  width: 500%;
  height: 100%;
  animation: slide 20s infinite;
}

.carousel-item {
  width: 20%;
  height: 100%;
  position: relative;
}

.carousel-item img {
  max-width: 100%;
  min-height: 80vh;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20%);
  }

  45% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(-40%);
  }

  70% {
    transform: translateX(-40%);
  }

  75% {
    transform: translateX(-60%);
  }

  95% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-80%);
  }
}



/* Formulário e Conceito das Modalidades */

.section {
  padding: 20px;
  margin: 20px;
  background-color: #f0f0f0;
  text-align: center;
  opacity: 65%;

}


.form-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

li {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}



input,
textarea,
button {
  margin: 10px 0;
  padding: 10px;
}

.concept-carousel {
  display: block;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.concept-item {
  flex: auto;
  width: 800px;
  margin-right: 10px;
  margin-left: 10px;
  scroll-snap-align: start;
  margin: auto;
}

.concept-item1 {
  background-color: red;
  font-weight: bold;
}

.concept-item2 {
  background-color: darkgray;
  font-weight: bold;
}

.concept-item3 {
  background-color: green;
  font-weight: bold;
}

.concept-item4 {
  background-color: darkslategray;
  font-weight: bold;
}


h3 {
  font-size: 35px;
}


p {
  font-size: 30px;
  font-weight: bold;
}
